<!-- <div>
    
    <div >
        <label for="search"> <mat-icon>search</mat-icon></label> 
        <input  type="text" ([ngModel])="name" (ngModelChange)="SearchByName($vent)">
         <button mat-button (click)="searchPokemon()">
            <mat-icon>search</mat-icon>
        </button> -->
    

<div class="search-bar">
      <div>
        <label for="search"> <mat-icon>search</mat-icon></label> 
        <input type="text" [(ngModel)]="name" (ngModelChange)="SearchByName()"
        class="searchTerm" placeholder="search pokemon">
      </div>

  </div>
